<%= form_with(model: test_mvc, local: true) do |form| %>
  <% if test_mvc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_mvc.errors.count, "error") %> prohibited this test_mvc from being saved:</h2>

      <ul>
      <% test_mvc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
