<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @test_mvc.content %>
</p>

<p>
  <strong>Text:</strong>
  <%= @test_mvc.text %>
</p>

<%= link_to 'Edit', edit_test_mvc_path(@test_mvc) %> |
<%= link_to 'Back', test_mvcs_path %>
